.search-class {
    position: relative;
    display: flex;

}

.submit-search {
    background-color: rgb(39, 33, 33);
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    font-size: 14px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.submit-search:hover {
    opacity: 1;
}