/*Mango Mojito (#DAA03DFF) and Terrarium Moss (#616247FF)
* {
    background-color: #DAA03DFF;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}*/

header {
    height: 90px;
    margin: 0;
	background-color: #616247FF;
}

img {
    display:block;
    width: 90px;
    height:70px;
    margin: 10px;
    margin-bottom: 10px;
    float: left;
}


nav a {
    float: left;
    position: relative;
    font-size: 14px;
    padding: 30px 20px;
    text-decoration: none;
	overflow: hidden;
    font-family: Georgia;
    display: inline;
	color: #DAA03DFF;
	background-color: #616247FF;
}

.dropdown{
    float: right;
    overflow: hidden;
}

.dropdown .dropbutton{
    font-size: 14px;
    margin: 0;
    border: none;
    background-color: #616247FF;
    outline: none;
    color: #DAA03DFF;
    padding: 30px 40px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
}

.nav a:hover, .dropdown:hover .dropbutton, .dropbutton:focus{
    background-color: #616247FF;
}

.dropdown-content{
    display: none;
    position: absolute;
    background-color: #616247FF;
    min-width: 40px;
    z-index: 1;
}

.dropdown-content a{
    float: none;
    color: #DAA03DFF;
    padding: 10px 10px;
    text-decoration: none;
    display: block;
    text-align: left;
    font-size: 13px;
}

.dropdown-content a:hover {
    background-color: lightgrey;
}

.dropdown:hover .dropdown-content {
    display: block;
}

nav .navsearch {
    float: right;
    font-size: 14px;
    background-color: #616247FF;
    padding: 30px 30px;
    text-align: left;
    text-decoration: none;
}


footer {
    text-align: center;
    /*color: white;
    font-size: 13px;
    padding: 3px;
    position: absolute;
    bottom: 0%;
    margin: 0 auto;
    width: 100%;*/
}