/*Mango Mojito (#DAA03DFF) and Terrarium Moss (#616247FF)
* {
    background-color: #DAA03DFF;
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
}*/

nav .navsearch {
    float: right;
    font-size: 14px;
    background-color: #616247FF;
    padding: 30px 30px;
    text-align: left;
    text-decoration: none;
}

/* Button used to open the cancel form */
.open-btn {
    background-color: #555;
    color: white;
    padding: 16px 20px;
    border: none;
    cursor: pointer;
    opacity: 0.8;
  }

  #cancelForm {
    height: 50%;
    display: none;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50%;
    z-index: 1;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.9);
    color: white;
  }
  
 /* The content */
#cancelForm-content {
    position: relative;
    top: 20%;
    width: 50%;
    text-align: center;
    margin-top: 30px;
    margin: auto;
  }
  
  /* Style the input field */
  #cancelForm input[type=text] {
    padding: 10px;
    font-size: 12px;
    border: none;
    width: 60%;
    background: white;
  }
  
  #cancelForm input[type=text]:hover {
    background: #f1f1f1;
  }
  
  /* Style the submit cancel-btn */
.cancel-btn{
    width: 30%;
    padding: 10px;
    background: #ddd;
    font-size: 12px;
    border: none;
    cursor: pointer;
  }
  
  #cancelForm cancel-btn:hover, close-btn:hover {
    background: #bbb;
  }

  .search-class {
    position: relative;
    display: flex;

}

.submit-search {
    background-color: rgb(39, 33, 33);
    border: none;
    color: white;
    padding: 8px 16px;
    text-align: center;
    font-size: 14px;
    margin: 4px 2px;
    opacity: 0.6;
    transition: 0.3s;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
}

.submit-search:hover {
    opacity: 1;
}